/* styles.css */

/* Reseteo de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.containerPrincipal {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.vistaPrevia {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vistaPrevia input {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    text-align: right;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.containerOfContainers {
    display: flex;
    justify-content: space-between;
}

.containerNumeros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.numero, .operador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.numero:hover, .operador:hover {
    background-color: #dcdcdc;
}

.numero {
    background-color: #f2f2f2;
}

.operador {
    background-color: #4CAF50;
    color: white;
}

.operador:hover {
    background-color: #45a049;
}

/* Estilo del contenedor de los operadores */
.containerOperadores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

