/* src/components/Navbar.css */

.navbar {
    background-color: #333;
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
  }
  
  .navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbarItem {
    margin-right: 20px;
  }
  
  .navbarLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s;
  }
  
  .navbarLink:hover {
    background-color: #555;
    border-radius: 4px;
  }
  